<%- include('header.ejs') %>
<%- include('nav.ejs') %>
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Table #02</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-wrap">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>테스트1</th>
                <th>테스트2</th>
                <th>테스트3</th>
                <th>테스트4</th>
                <th>테&nbsp;스&nbsp;트&nbsp;5</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i=0; i < board.length; i++){ %>
                <tr class="alert" role="alert">
                  <th scope="row"><%= board[i].form %></th>
                  <td><%= board[i].content %></td>
                  <td><%= board[i].content %></td>
                  <td><%= board[i].content %></td>
                  <td>
                    <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true"><i class="fa fa-close"></i></span>
                    </a>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('footer.ejs') %>